* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%; 
}

body {
    height: 100%;
}

.hero {
    position: relative;
    text-align: center;
    padding: 50px;
    height: 100vh; 
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#professionalArea {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #0e0d0d;
    /* color: #555; */
    position: absolute;
    top: 12rem;
    width: 100%;
    text-align: center;
}

.hero h1 {
    font-family: "Bebas Neue", system-ui;
    font-weight: 200;
    font-size: 22rem;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

#lastName {
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    font-weight: 400;
    font-style: normal;
    color: #0e0d0d;
    position: absolute;
    top: 27rem;
    bottom: 20px;
    right: 18rem;
    transform: rotate(-9deg);
    z-index: 2;
}

.blackcat-image {
    position: absolute;
    top: 23rem;
    bottom: 20px;
    left: 18rem;
    z-index: 2;
}

.blackcat-image img {
    width: auto;
    height: 15rem;
}
