* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%; 
}

body {
    height: 100%;
}

.hero {
    position: relative;
    text-align: center;
    padding: 50px;
    height: 100vh; 
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#professionalArea {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #0e0d0d;
    /* color: #555; */
    position: absolute;
    top: 12rem;
    width: 100%;
    text-align: center;
}

.hero h1 {
    font-family: "Bebas Neue", system-ui;
    font-weight: 200;
    font-size: 22rem;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

#lastName {
    font-family: "Sacramento", cursive;
    font-size: 5rem;
    font-weight: 400;
    font-style: normal;
    color: #0e0d0d;
    position: absolute;
    top: 27rem;
    bottom: 20px;
    right: 18rem;
    transform: rotate(-9deg);
    z-index: 2;
}

.blackcat-image {
    position: absolute;
    top: 23rem;
    bottom: 20px;
    left: 18rem;
    z-index: 2;
}

.blackcat-image img {
    width: auto;
    height: 15rem;
}


/*botão scroll*/
.scroll-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000; 
    display: block; 
}

.scroll-box svg {
    height: 2rem;
    width: auto;
}

.scroll-text {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: rgba(28,28,30,1);
}

.scroll-btn:hover .scroll-box {
    animation: scroll-down 3s infinite;
}
  
@keyframes scroll-down {
0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
}

35% {
    transform: translateY(1rem);
    opacity: 0;
}

70% {
    transform: translateY(-1rem);
    opacity: 0;
}
}


/* redes sociais */ 
.social-media {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 1000; 
    display: block; 
  }


.wrapper {
    font-family: "Quicksand", sans-serif;
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #0e0d0d;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #0e0d0d;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #0e0d0d;
    color: #fff;
  }
  
